<!-- loading the page from base.html -->
{% extends 'base.html' %}

{% block page_title %}

    <title>Parts - AutoPart</title>

{% endblock %}

{% block style %}
<!-- DataTables CSS -->
<!-- Add this in your <head> section -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">

<style>
    .drop-zone {
        border: 2px dashed #6c757d;
        border-radius: 8px;
        padding: 20px;
        text-align: center;
        color: #6c757d;
        background-color: #f8f9fa;
        cursor: pointer;
    }

    .drop-zone.dragover {
        background-color: #e9ecef;
    }

    .preview-container img {
        max-width: 100px;
        margin: 10px;
        border: 2px solid #ddd;
        border-radius: 8px;
    }
</style>
{% endblock %}

{% block admin_name %}
  <div>{{ admin_name }}</div>
{% endblock %}

{% block content_title %}
    <div class="d-flex justify-content-between">
        <h2 class="page-title">
            <a href="{{ url_for('tests') }}">Products</a> <span class="me-2">></span> <a href="{{ url_for('edit_part_page', part_id= part_info[0]) }}" >Edit part <span class="text-danger">{{ part_info[2] }}</span> </a> 
        </h2>
        <div id="alert-show">
            <div class="alert alert-success" role="alert">
                Wow! Everything worked!
            </div>
        </div>
        
    </div>
    

{% endblock %}

{% block main_content %}
<div class="d-flex justify-content-end mb-2">
    <button class="btn btn-light me-2">Make Credited</button>
    <button class="btn btn-danger me-2">Delete</button>
</div>
<div class="card">
    <form action="" method="post" id="edit_part">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-7">
                  <div class="mb-3">
                    <label class="form-label">Part Name</label>
                    <div class="input-group input-group-flat">
                      <input type="text" class="form-control" name="edited_partname" value="{{ part_info[2] }}" required>
                    </div>
                  </div>
                </div>
            
                <div class="col-lg-2">
                  <div class="mb-3">
                    <label class="form-label">Credited?</label>
                    {% if part_info[9] == 1 %} 
                    <select class="form-select" name="edited_credited">
                    <option value="1" selected>Yes</option>
                    <option value="2">No</option>
                    </select>
                    {% else %}
                    <select class="form-select" name="edited_credited">
                    <option value="1">Yes</option>
                    <option value="2" selected>No</option>
                    </select>
                    {% endif %}
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="mb-3">
                    <label class="form-label">Quantity</label>
                    <div class="input-group input-group-flat">
                      <input type="text" class="form-control" name="edited_quantity" value="{{ part_info[3] }}" id="quantity" required >
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="mb-3">
                    <label class="form-label">Reason</label>
                    <select class="form-select" name="edited_reason">
                        <option value="Faulty" {% if part_info[4] == 'Faulty' %} selected {% endif %}>Faulty</option>
                        <option value="Not required" {% if part_info[4] == 'Not required' %} selected {% endif %}>Not required</option>
                        <option value="Surcharge" {% if part_info[4] == 'Surcharge' %} selected {% endif %}>Surcharge</option>
                    </select>
                  </div>
                </div>
            
                <div class="col-lg-6">
                  <div class="mb-3">
                    <label class="form-label">Unique ID</label>
                    <div class="input-group input-group-flat">
                      <input type="text" class="form-control" name="edited_unique_id" value="{{ part_info[5] }}" required>
                    </div>
                  </div>
                </div>
                
            </div>
        </div>
        <div class="d-flex justify-content-end mt-2 mb-5">
            <button class="btn btn-primary me-2">Update & Save</button>
            <button class="btn btn-light me-2">Cancel</button>
        </div>
    </form>
</div>


{% endblock %}

{% block js_content %}

<script>
    document.getElementById("acc_number").addEventListener("input", function () {
      const accNumber = this.value;
      const checkCompanyDiv = document.getElementById("check_company");
      const showCompanyDiv = document.getElementById("show_company");
      const companyInput = showCompanyDiv.querySelector("input[name='company']");
  
      if (accNumber.trim() === "") {
          checkCompanyDiv.style.display = "block";
          showCompanyDiv.style.display = "none";
          return;
      }
  
      fetch(`/validate-account-number?acc_number=${accNumber}`)
          .then(response => response.json())
          .then(data => {
              if (data.success) {
                  checkCompanyDiv.style.display = "none";
                  showCompanyDiv.style.display = "block";
                  companyInput.value = data.company;
              } else {
                  checkCompanyDiv.style.display = "block";
                  showCompanyDiv.style.display = "none";
              }
          })
          .catch(error => {
              console.error("Error:", error);
          });
  });
  
</script>

{% endblock %}