<!-- loading the page from base.html -->
{% extends 'base.html' %}

{% block page_title %}

    <title>Dashboard - AutoPart</title>

{% endblock %}

{% block admin_name %}
  <div>{{ admin_name }}</div>
{% endblock %}

{% block content_title %}

    <h2 class="page-title">
        Dashboard
    </h2>

{% endblock %}

{% block main_content %}

<div class="col-12">
    <div class="row row-cards">
      <div class="col-sm-6 col-lg-4">
        <div class="card card-sm">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col-auto">
                <span class="bg-primary text-white avatar"><!-- Download SVG icon from http://tabler-icons.io/i/currency-dollar -->
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-building-warehouse">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M3 21v-13l9 -4l9 4v13" />
                    <path d="M13 13h4v8h-10v-6h6" />
                    <path d="M13 21v-9a1 1 0 0 0 -1 -1h-2a1 1 0 0 0 -1 1v3" />
                  </svg>                  
                </span>
              </div>
              <div class="col">
                <div class="font-weight-medium">
                  {{ total_returned_today }} Parts Today
                </div>
                <div class="font-weight-medium">
                  {{ cr_values[0] }} Awaiting Credit
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="card card-sm">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col-auto">
                <span class="bg-primary text-white avatar"><!-- Download SVG icon from http://tabler-icons.io/i/shopping-cart -->
                  <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-truck-return"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M17 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M5 17h-2v-11a1 1 0 0 1 1 -1h9v6h-5l2 2m0 -4l-2 2" /><path d="M9 17l6 0" /><path d="M13 6h5l3 5v6h-2" /></svg>
                </span>
              </div>
              <div class="col">
                <div class="font-weight-medium">
                  {{ total_admins }} Delivery Drivers
                </div>
                <div class="text-secondary">
                  Last active 3h ago
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col--6 col-lg-4">
        <div class="card card-sm">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col-auto">
                <span class="bg-danger text-white avatar"><!-- Download SVG icon from http://tabler-icons.io/i/shopping-cart -->
                  <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-down"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M18 13l-6 6" /><path d="M6 13l6 6" /></svg>                                 
                </span>
              </div>
              <div class="col">
                <div class="font-weight-medium">
                  £1900
                </div>
                <div class="text-secondary">
                  Credited last 30 days
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-xl-6">
        <div class="card">
          <div class="card-header">
            <div class="card-title">
              Today's Update
            </div>
            <div class="card-actions">
              <div>
                <div class="row align-items-center">
                  
                  <div class="col">
                    <div class="card-subtitle">Credited: {{ cr_values[0] }}</div>
                    <div class="card-subtitle">Not credited: {{ cr_values[1] }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div id="chart-demo-pie"></div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-xl-6">
        <div class="card">
          <div class="card-header">
            <div class="card-title">
              Reason codes
            </div>
            <div class="card-actions">
              <div>
                <div class="row align-items-center">
                  
                  <div class="col">
                    <div class="card-title" id="show_month_year"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div id="chart-demo-reason"></div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-xl-8">
        <div class="card">
          <div class="card-header">
            <div class="card-title">
              Top 5 companies
            </div>
            <div class="card-actions">
              <div>
                <div class="row align-items-center">
                  
                  <div class="col">
                    <div class="card-title" id="show_month_year"></div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
          <div class="card-body">
            <div id="chart-completion-tasks-6"></div>
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}

{% block js_content %}

<script src="{{ url_for('static', filename='libs/apexcharts/dist/apexcharts.min.js') }}" defer></script> 

<script>
  // Create a new Date object
  const currentDate = new Date();

  // Get the full year
  const year = currentDate.getFullYear();

  // Get the month name
  const month = currentDate.toLocaleString('default', { month: 'long' });

  // Format as "Month, Year"
  const formattedDate = `${month}, ${year}`;

  // Display it in the HTML element
  document.getElementById('show_month_year').textContent = formattedDate;
</script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Passing Python cr_values to JavaScript
    const crValues = {{ cr_values|tojson }};

    // Initialize the ApexChart
    window.ApexCharts && (new ApexCharts(document.getElementById('chart-demo-pie'), {
      chart: {
        type: "donut",
        fontFamily: 'inherit',
        height: 278,
        sparkline: {
          enabled: true
        },
        animations: {
          enabled: true
        },
      },
      fill: {
        opacity: 1,
      },
      series: crValues, // Use the dynamically passed cr_values list
      labels: ["Credited", "Not Credited"],
      tooltip: {
        theme: 'dark'
      },
      grid: {
        strokeDashArray: 4,
      },
      colors: [tabler.getColor("primary"), tabler.getColor("primary", 0.8), tabler.getColor("primary", 0.6), tabler.getColor("gray-300")],
      legend: {
        show: true,
        position: 'bottom',
        offsetY: 12,
        markers: {
          width: 10,
          height: 10,
          radius: 100,
        },
        itemMargin: {
          horizontal: 8,
          vertical: 8
        },
      },
      tooltip: {
        fillSeriesColor: false
      },
    })).render();
  });
</script>

<script>
  // @formatter:off
  document.addEventListener("DOMContentLoaded", function () {
    // Passing Python cr_values to JavaScript
    const top_companies = {{ total_values_company | tojson }};
    // Passing Python cr_values to JavaScript
    const top_counts = {{ total_values_count | tojson }};

    console.log(top_companies)
    console.log(top_counts)
    window.ApexCharts && (new ApexCharts(document.getElementById('chart-completion-tasks-6'), {
      chart: {
        type: "bar",
        fontFamily: 'inherit',
        height: 240,
        parentHeightOffset: 0,
        toolbar: {
          show: false,
        },
        animations: {
          enabled: true
        },
      },
      plotOptions: {
        bar: {
          barHeight: '50%',
           horizontal: true,
        }
      },
      dataLabels: {
        enabled: false,
      },
      fill: {
        opacity: 1,
      },
      series: [{
        name: "Total returned parts",
        data: top_counts
      }],
      tooltip: {
        theme: 'dark'
      },
      grid: {
        padding: {
          top: -20,
          right: 0,
          left: -4,
          bottom: -4
        },
        strokeDashArray: 4,
      },
      xaxis: {
        labels: {
          padding: 0,
        },
        tooltip: {
          enabled: false
        },
        axisBorder: {
          show: false,
        },
        type: 'string',
      },
      yaxis: {
        labels: {
          padding: 4
        },
      },
      labels: top_companies,
      colors: [tabler.getColor("primary")],
      legend: {
        show: false,
      },
    })).render();
  });
  // @formatter:on
</script>

<script>
  // @formatter:off
  document.addEventListener("DOMContentLoaded", function () {

    window.ApexCharts && (new ApexCharts(document.getElementById('chart-demo-reason'), {
      chart: {
        type: "radialBar",
        height: 240,
        animations: {
          enabled: true
        },
      },
      plotOptions: {
          radialBar: {
            dataLabels: {
              name: {
                fontSize: '22px',
              },
              value: {
                fontSize: '16px',
              },
              total: {
                show: true,
                label: 'Reasons',
                formatter: function (w) {
                  // By default this function returns the average of all series. The below is just an example to show the use of custom formatter function
                  return 249
                }
              }
            }
          }
      },
      series: [44, 55, 67, 83],
      labels: ['Apples', 'Oranges', 'Bananas', 'Berries'],
    })).render();
  });
  // @formatter:on
</script>
{% endblock %}
