{% extends 'base.html' %}

{% block page_title %}

    <title>Testing parts Table</title>

{% endblock %}

{% block style %}
<style>
    .table-container {
        max-height: 600px; /* Adjust the scrollable table height */
        overflow-y: auto;
    }
</style>
{% endblock %}

{% block admin_name %}
  <div>{{ admin_name }}</div>
{% endblock %}

{% block content_title %}

    <h2 class="page-title">
        Testing Parts table
    </h2>

{% endblock %}

{% block main_content %}

<div class="table-container">
    <table class="table table-bordered text-center align-middle">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Part Name</th>
                <th>Quantity</th>
                
            </tr>
        </thead>
        <tbody>
            {% for part in parts %}
            <tr>
                <td>{{ part[0] }}</td>
                <td>{{ part[1] }}</td>
                <td>{{ part[2] }}</td>
                
            </tr>
            {% else %}
            <tr>
                <td colspan="11" class="text-center">No parts available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Pagination Links -->
<div class="d-flex justify-content-center mt-3">
    {{ pagination.links }}
</div>

{% endblock %}

</body>
</html>
